certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.8
psycopg==3.2.1
psycopg_pool==3.2.3
requests==2.32.3
rollbar==1.0.0
sentry-sdk==2.14.0
six==1.16.0
SQLAlchemy==2.0.35
typing_extensions==4.12.2
urllib3==2.2.2
